header {
  position: relative;
}
.wrapper {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}
/**
* drawer
**/

/**
* logo
**/
.l-header-logo {
  position: absolute;
  margin: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.l-header-logo .l-header-logo_link {
  display: block;
}
.l-header-logo .l-header-logo_img {
  height: 60px;
  width: auto;
}
/**
* button
**/
.l-header-button {
  margin-left: auto;
}
.l-header-button button + button {
  margin-left: 10px;
}
