<footer class="l-footer">
  <div class="l-foonter-top">
    <div class="l-foonter__address">
      <a class="siteTitle__link" href="#">
        <img class="siteTitle__logo" src="../img/logo.png" alt="" width="480" height="120">
      </a>
      <p> 〒000-0000 テキストテキストテキストテキストテキストテキスト テキスト <br> 営業時間　10:00～20:00 <br> 定休日：土日祝 <br>
      </p>
    </div>
    <nav class="l-foonter__navi">
      <ul class="l-foonter__list">
        <li>
          <a href="#">テキスト</a>
        </li>
        <li>
          <a href="#">テキスト</a>
        </li>
        <li>
          <a href="#">テキスト</a>
        </li>
      </ul>
      <ul class="l-foonter__list">
        <li>
          <a href="#">テキスト</a>
        </li>
        <li>
          <a href="#">テキスト</a>
        </li>
        <li>
          <a href="#">テキスト</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="l-foonter__copyright">
      <span class="l-foonter__copy">© Copyright 2021 <a class="l-foonter__link" href="#">I like CSS</a>. </span>
  </div>
  <a href="#top"></a>
</footer>