.c-icon {
  border: 1px solid #ccc;
  padding: 5px;
  font-size: .8rem;
  font-weight: bold;
}
.c-icon-sale, .c-icon-new {
  background-color: #fc3b3b;
  border: 1px solid #fc3b3b;
  color: white;
}
.c-icon-soldout {
  background-color: #d7d7d7;
  border: 1px solid #d7d7d7;
}
.c-icon-order {
  background-color: #33ad3f;
  border: 1px solid #33ad3f;
  color: white;
}